@using Microsoft.AspNetCore.Identity;
@using SocialNetworkWeb.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="AccountManager" asp-action="Logout" method="post" style="display:inline;">
        <button type="submit" class="btn btn-link">Выход</button>
    </form>
}